body {
    background-color: black;
    color: aliceblue;
}

.head {
    display: flex;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warn {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#pin {
    margin-top: 5%;
    text-align: center;
}

#ques {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .head {
        display: flex;
        font-size: x-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        flex-direction: column;
        display: flex;

        justify-content: center;
        align-items: center;
    }

    .container {
        font-size: medium;
    }
}

#tubs {
    width: 60%;
}

.button {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#button {
    padding: 20px 30px;
}